.edit-home-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 2rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-image: url('../images/BG_Reservasi.JPG');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}